*.vsconfig
GMTK2021 3D/Library/ArtifactDB
GMTK2021 3D/Library/SourceAssetDB
GMTK2021 3D/Logs/shadercompiler-UnityShaderCompiler.exe0.log
GMTK2021 3D/Library/SourceAssetDB-lock
GMTK2021 3D/Library/SourceAssetDB
GMTK2021 3D/Library/ArtifactDB-lock
GMTK2021 3D/Library/ArtifactDB
